<h1 class="title">Ready to schedule?</h1>

<%= form_tag("/businesses/welcome", method: :get) do %>
    <div class="field">
        <label class="label">Select a Business</label>
        <div class="select">
            <%= select_tag "business_id", options_from_collection_for_select(@businesses, "id", "name") %>
        </div>
    </div>
    <div class="control">
        <button type="submit" class="button is-dark">Continue</button>
    </div>
<% end %>
