<h1>Ready to schedule?</h1>
<h2>Select a business below.</h2>

<div>
    <%= form_tag("/businesses/welcome", method: :get) do %>
        <%= select_tag "business_id", options_from_collection_for_select(@businesses, "id", "name") %>
        <%= submit_tag "Next" %>
    <% end %>
</div>
