<div><%= flash[:notice] %></div>

<h1><%= @business.name %></h1>

<%= link_to "Schedule Appointment", new_appointment_path(business_id: @business.id) %>
<%= link_to "Edit Business Details", edit_business_path(@business) %>
