<% if flash[:notice] %>
    <div class="message is-dark">
        <div class="message-body has-text-left">
            <%= flash[:notice] %>
        </div>
    </div>
<% end %>

<h1 class="title is-size-4">Schedule appointments at any business.</h1>
<p class="mx-6">
    OmniPoint is the fastest, easiest way to schedule appointments at your favorite business.<br/><br/>
    Select a service and technician to tailor your appointment to your needs.
    Add appointments to your calendar, or save the QR code for easy access later.
</p>

<%= link_to "Get Started", businesses_path, class: "button is-dark mt-4" %>
